* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

body #navbar {
  z-index: 100;
  background-color: white;
}

body .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header {
  padding: 120px 0 60px;
}

header .header-text {
  padding-top: 140px;
}

header a {
  background-color: #6159E6;
  color: white;
}

header a:hover {
  background-color: #7A73EE;
  color: white;
}

main {
  /*width: 542px;
    height: 131px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #707070;*/
}

main .about {
  min-height: 419px;
  padding-top: 36px;
}

main .about h2 {
  font-size: 34px;
}

main .about h2:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-right: -80%;
  border-bottom: 1px solid #000;
}

main .about p {
  margin-top: 60px;
  font-size: 25px;
}

main .package {
  background-color: #F0F0FF;
  min-height: 560px;
}

main .package .card {
  border: 1px solid #707070;
}

main .package .card-package {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  padding-bottom: 2px;
  margin-bottom: -80px;
  min-height: 520px;
  max-width: 356px;
}

main .package h2 {
  font-size: 30px;
}

main .package p {
  font-size: 23px;
}

main .package h2:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-right: -80%;
  border-bottom: 1px solid #000;
}

main .benefit {
  min-height: 618px;
  margin-top: 150px;
  background-image: url(../images/BackBenefit.jpg);
  background-position-y: -160px;
  background-size: cover;
}

main .benefit .card {
  border: 1px solid #707070;
}

main .benefit h2 {
  font-size: 30px;
}

main .benefit h2:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-right: -60%;
  border-bottom: 1px solid #000;
}

main .benefit .card-benefit {
  margin-top: 63px;
  height: 130px;
  width: 540px;
  padding-top: 5px;
  padding-bottom: 0px;
  width: 542px;
  border-radius: 10px;
}

main .benefit .card-benefit img {
  padding-left: 15px;
}

main .benefit .card-benefit p {
  font-size: 28px;
  padding-top: 30px;
}

main .faq h2 {
  font-size: 30px;
}

main .faq .faq-content {
  padding-top: 75px;
}

main .faq .card {
  border: 1px solid #707070;
}

main .faq .card-faq {
  height: 80px;
  margin-top: 20px;
}

main .faq .card-faq p {
  padding-top: 20px;
  padding-left: 30px;
  font-size: 15px;
}

main .faq .answer1 {
  margin-top: 15px;
  display: none;
}

main .faq .answer2 {
  margin-top: 15px;
  display: none;
}

main .faq .answer3 {
  margin-top: 15px;
  display: none;
}

main .faq .answer4 {
  margin-top: 15px;
  display: none;
}

main .faq .answer5 {
  margin-top: 15px;
  display: none;
}

main .faq .answer6 {
  margin-top: 15px;
  display: none;
}

footer {
  margin-top: 100px;
  min-height: 320px;
  border-top: solid 1px #707070;
  border-bottom: solid 1px #707070;
}

footer .tryoutkuy-content .flex-column .footer-title {
  font-family: Rubik;
  font-weight: 900;
  font-size: 25px;
  text-align: left;
  color: #000;
}

footer .tryoutkuy-content .flex-column .item {
  width: 180px;
  font-family: Rubik;
  border-bottom: 1px solid #707070;
  text-align: left;
  color: #000;
  padding-right: 3px;
}

footer .tryoutkuy-content .flex-column .item a {
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

footer .tryoutkuy-content .flex-column .item a:hover {
  text-decoration: none;
  color: #595252;
}

footer .follow-us .footer-title {
  font-family: Rubik;
  font-weight: 900;
  font-size: 25px;
  text-align: left;
  color: #000;
}

footer .follow-us a {
  color: black;
}

footer .follow-us a:hover {
  color: #595252;
}

footer .contact-us .footer-title {
  font-family: Rubik;
  font-weight: 900;
  font-size: 25px;
  text-align: left;
  color: #000;
}

footer .contact-us p {
  font-size: 15px;
}

footer .contact-us .no-telp {
  margin-top: -13px;
}

footer .footer-2 {
  border-top: solid 1px #707070;
}
/*# sourceMappingURL=main.css.map */